---
import Layout from '../layouts/Layout.astro';
import Counter from '../components/TestSolid';
---

<Layout title="Welcome to Astro.">
	<Counter client:load>This works</Counter>
	<main>
		<p>
			<Counter client:load>This doesn't</Counter>
		</p>
	</main>
</Layout>
